/* Add your CSS to this file */
body {
    margin: 0;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, "Helvetica Neue", Arial, 'Noto Sans', sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}

header{
    background-color: white;
    font-size: 18px;
    padding-left: 100px;
    padding-right: 100px;
}

header div{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li a{
    color: #6b7280;
    text-decoration: none;
}

nav ul li a:hover{
    color: #5A67D8;
}
/*
h1{
    text-align: left;
}

nav ul li{
    text-align: right;
}
*/
nav ul{
    
    list-style-type: none;
}

li{
    display: inline;
    padding: 3px;
}

.overview-hero{
    background-color: #E2E8F0;
}

.overview-hero .container{
    padding-top: 35px;
    padding-bottom: 35px;
}

.overview-hero-image{
    padding-left: 100px;
    padding-right: 50px;
    float: left;
}

.overview-hero-text{
    padding-right: 160px;
    /* padding-bottom: 35px; */
}


.overview-hero-image img{
    /* float: left; */
    padding-right: 20px;
    height: 100%;
    width: 200px;
}

.learn-about .container{
    margin-bottom:20px;
}

.learn-about h2{
    font-size: 24px;
    color: #48BB78;
    padding-left: 100px;
}

.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 100px;
    padding-right: 100px;
}

.card{
    padding-left: 12px; 
    padding-right: 12px; 
    margin-right: 12px;
    border: solid #E2E8F0;
    border-radius: 5px;
    box-shadow: 1px 1px #E2E8F0;
}

.card h3{
    color: #48BB78;
    font-size: 21px;;
}
.card img{
    width: 100%;
    height: 150px;
}

.testing{
    background-color: #4A5568;
}

.testing .container{
    /* background-color: #4A5568; */
    color: white;
    display: grid;
    grid-template-columns: 300px 300px 150px;
    /* grid-template-columns: auto auto min-content ; */
    padding-left: 160px;
    padding-top: 35px;
    padding-bottom: 35px;
    /* justify-content: space-between; */
    /* align-content: center; */
    gap: 40px;
    grid-auto-flow: column;
    align-items: center;
    justify-items: center;

    /*
    grid-template-columns: 300px 250px 150px;
    padding-left: 160px;
    padding-top: 35px;
    padding-bottom: 35px;
    gap: 20px;
    */
}

.testing-desciption{
    /* padding-left: 100px; */
    grid-column: 1/3;
}

.cta{
    background-color: #48BB78;
    border-radius: 5px;
    grid-column: 3;
    /* text-align: center;
    align-content: center; */
    display: flex;
    /*align-items: center; /*<- Works to centre text vertically in div */
    justify-content: center; /*<- Works to centre text horizontally in div *only if grid column set| Other things commented out do not help.*/
    /* justify-items: center; */
    height: max-content;
    width: max-content;
    padding: 10px;
}

.cta a{
    color: white;
    text-decoration: none;
}

.stories .container{
    padding-left: 200px; /* 160*/
    /* padding-right: 150px; */
}

.stories .container h2{
    color: #5A67D8;
}

.stories .container img{
    border-radius: 100%;
    height: 150px;
    width: 150px;    
    float: left;
    padding-right: 20px;
}

/* article{
    overfloW: hidden;
} */
 
/* article img{
    float: left;
}  */

/* article div{
    float: right;
} */

/* .article-body{
    float: right;
} */

article{
    height: 200px;
}

.article-body a{
    color: #5A67D8;
}

.article-body h3{
    font-size: 18px;
}

.newsletter{
    background-color: #48BB78;
    /* display: flex;
    justify-content: center;
    align-items: center ; */
    text-align: center;
}

.newsletter .container{
    /* height: 200px; */
    color: white;
    padding: 20px;
    /* text-align: center; */
    /* display: flex; */
    /* justify-items: center; */
    /* align-items: center ; */
}

.newsletter .container button{
    background-color: #5A67D8;
}

form{
    /* display: inline!important; */
    display: flex;
    /* flex-flow: row wrap;*/
    align-items: center; 
    justify-content: center;
}

.form-group{
    margin: 20px;
}

.form-group input{
    padding: 15px;
    border: 1px white;
    border-radius: 5px;
    /* color: white; */
}

form button{
    color: white;   
    border-radius: 5px;
    border: 1px white;
    padding: 15px;
    display: flex;
    justify-content: center;
    height: max-content;
    width: max-content;
}

footer{
    background-color: #4A5568;
    color: white;
    padding: 15px;
}